ZKv3GbMDsljCNyl6

# Connect to Supabase via connection pooling.
DATABASE_URL="postgresql://postgres.yamtibvdnzneyqkylktd:ZKv3GbMDsljCNyl6@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.yamtibvdnzneyqkylktd:ZKv3GbMDsljCNyl6@aws-0-us-east-1.pooler.supabase.com:5432/postgres"